.hero {
  background: linear-gradient(
                     rgba(189, 58, 255, .1),
                     rgba(189, 58, 255, .05)),
                     url('/app/images/green-hero.jpg') no-repeat center center fixed;
  height: 420px;
  position: relative;
  width:100%;
  text-align: center;

  h1 {
  color: $neutral-color-4;
  padding-top: em(60px, 32px);
  text-shadow: $text-shadow;

    @include bp(sm) {
      padding-top: em(80px, 32px);
    }
  }

  p {
    color: $neutral-color-4;
    font-weight: 300;
    margin-top: em(16px, 32px);
    letter-spacing: .25em;
  }
}
