nav {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: em(42px, 32px);
  ul {
    display: flex;
    font-family: $secondary-font;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 2px;
    margin:0px auto;
    padding: 0;
    text-transform: uppercase;
    width: 80%;
    @include bp(sm) {
    flex-direction: row;
    }
    li {
      // border-bottom: 2px solid $neutral-color-3;
      color: $white;
      display: inline-block;
      margin: 20px auto 0px ;
      text-align: center;
      text-shadow:$text-shadow;
      width: 120px;
      &:hover {
        color: $shocker;
        // color: $neutral-color-4;
        @include transition(color .2s ease);
        border-bottom: 2px solid $shocker;
      }
      @include bp(sm) {
      width: auto;

      }
    }

  }

}
