#registry {
  background-color: white;

  h2 {
    text-align: center;
    margin-bottom: rem(60px, 16px);
  }

  .items {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include bp(sm) {
      flex-direction: row;
      justify-content: space-around;
    }

    a {
      margin-bottom: rem(40px, 16px);

      img {
        height: 100px;

        @include bp(sm) {
          height: 130px;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
