.details {
  background-color: $soft;

  h2 {
  color: $white;
  font-family: $secondary-font;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  margin: 0 auto;
  }

  p {
  text-align: left;
  width: 90%;
  margin: 0 auto;
    // @include bp(sm) {
    //   width: 70%;
    //  }
    //  @include bp(md) {
    //    width: 60%;
    //   }
  }
  ul {
    font-family: $secondary-font;
    padding: 0;

    li {
      list-style: none;
      font-weight: 900;
    }
  }
}
