.details {
  background-color: $soft;

  h2 {
  color: $dark-purple;
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  }

  h3 {
    color: $dark-purple;
    width: 90%;
    margin: 0 auto;
  }

  p {
  text-align: left;
  width: 90%;
  margin: 0 auto rem(30px, 16px);
  line-height: 1.7;
  }

  ul {
    font-family: $secondary-font;
    padding: 0;

    li {
      list-style: none;
      font-weight: 900;
    }
  }
}
