.details {

  h2 {
  color: $dark-purple;
  letter-spacing: 0.1rem;
  text-align: left;
  text-transform: uppercase;
  }

  .detail {
    display:block;

    margin: 30px auto;

    @include bp(sm) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    h3 {
      color: $dark-purple;
      text-align: left;
    }

    a {
      color: $green;
    }

    p {
    text-align: left;
    margin: 0;
    line-height: 1.7;

    @include bp(sm) {
      width: 50%;
      }
    }
  }

  ul {
    font-family: $secondary-font;
    padding: 0;

    li {
      list-style: none;
      font-weight: 900;
    }
  }
}
