.places-list {
  text-align: center;
  max-width: $max-width;
  margin: 40px auto;
  @include clearfix;

  h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: rem(42px, 16px);
    width: 95%;
    @include bp(sm) {
      width:90%;
      margin-bottom: em(21px, 16px);
      }
    }
  .place {
    @include clearfix;
    float:left;
    margin-bottom: 30px;

    a {
      font-size: 0;

      img {
        border-style: none;
        width: 89.5%;
        height: auto;
      }
    }

    .block {
      background-color: $neutral-color-4;
      border: 1px solid $neutral-color-3;
      margin: -6px auto 0;
      width: 90%;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: space-between;

      @include bp(sm) {
        height: rem(230px, 16px);
        padding-top: 10px;
      }

      h3 {
        margin-top: rem(15px, 16px);
        font-size: rem(21px, 16px);
      }
      p {
        background-color: $neutral-color-4;
        margin: 10px auto 0px;
        width:90%;
        @include bp(sm) {
          width:80%;
          font-size: .9em;
          }
      }
      a {
        background-color: $neutral-color-4;
        color: $purple-2;
        font-weight: 300;
        font-size: rem(16px, 16px);
        margin: 10px auto 0;
        padding: 8px;
        text-decoration: none;
        text-transform: uppercase;
        width: 100%;

        @include bp(sm) {
          margin: 0 auto;
        }

          &:hover {
          background-color: $neutral-color-5;
          color: $neutral-color-4;
          @include transition(all .3s ease, color .3s ease);
        }
      }
    }
  @include bp(sm) {
    width:50%;
    }
  @include bp(lg) {
    width:33.3%;
    }
  }
}
