.places-list {
  text-align: center;
  max-width: $max-width;
  margin: 40px auto;
  @include clearfix;

  h2 {
    color: $neutral-color-5;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: em(42px, 32px);
    width: 95%;
    @include bp(sm) {
      width:90%;
      margin-bottom: em(42px, 32px);
      }
    }
  .place {
    @include clearfix;
    float:left;
    width: 100%;
    height: em(450px, 32px);
    .block {
      background-color: $neutral-color-4;
      border: 1px solid $neutral-color-3;
      height: 95%;
      margin: 0px auto;
      position: relative;
      width: 90%;
      h3 {
        margin-top: em(30px, 32px);
        font-size: em(42px, 32px);
      }
      p {
        background-color: $neutral-color-4;
        margin: 10px auto 0px;
        width:90%;
        @include bp(sm) {
          width:80%;
          font-size: .9em;
          }
      }
      a {
        background-color: $neutral-color-4;
        color: $shocker;
        font-weight: 300;
        margin-left: auto;
        margin-right: auto;
        padding: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-decoration: none;
        text-transform: uppercase;
          &:hover {
          background-color: $neutral-color-5;
          color: $neutral-color-4;
          @include transition(background-color .3s ease, color .3s ease);
        }
      }
    }
  @include bp(sm) {
    width:50%;
    }
  @include bp(lg) {
    width:33.3%;
    }
  }
}
