
$primary-font-regular: 'Playfair Display', serif;
$primary-font-semibold: 'Proxima Nova Semibold';
$secondary-font: 'Roboto', sans-serif;


$neutral-color-0: #000000;
$neutral-color-1: #555964;
$neutral-color-2: #f0f0f0;
$neutral-color-3: #ffffff;

$primary-color: #e61e27;

$header-height-m: 54px;
$header-height-dt: 70px;

$break-desktop: 768px;

$inactive-opacity: 0.4;


/// Container's maximum width
$max-width: 1180px !default;
