
$primary-font-regular: 'Playfair Display', serif;
$secondary-font: 'Didact Gothic', sans-serif;

$white: #ffffff;
$neutral-color-0: #000000;
$neutral-color-1: #111111;
$neutral-color-2: #d1d1d1;
$neutral-color-3: #f0f0f0;
$neutral-color-4: #ffffff;
$neutral-color-5: #335854;
// #ea6129
// #1b9a7d
$dark-purple: #3d4255;
$soft: #decce0;
//$soft: #e2d2de;
$purple-2: #bd85e4;
$gold: #a49558;
$green-2: #1b9a7d;

$header-height-m: 54px;
$header-height-dt: 70px;

$break-desktop: 768px;

$inactive-opacity: 0.4;


/// Container's maximum width
$max-width: 1180px !default;

$text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
